<ng-template [ngIf]="!isAuthenticated">
  <div style="margin: auto; width: 50%">
    <h2>Welcome to the Contact Manager</h2>
    <p>Please login or register to view/add/edit contacts.</p>
  </div>
</ng-template>
<ng-template [ngIf]="isAuthenticated">
  <div class="row">
    <div class="col-md-3">
      <input class="form-control" placeholder="filter" (keyup)="filterTable($event.target.value)"/>
    </div>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="mat=elavation-z8" style="width: 100%">

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Id
      <th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['editcontact',element.id]">{{element.id}}</a>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{column.header}}</th>
      <td mat-cell *matCellDef="let element">
        {{column.cell === undefined ? element[column.columnDef] : column.cell(element)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Delete" matTooltipPosition="left" color="primary"
                (click)="delete(element.id)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>
</ng-template>
