<form [formGroup]="form">
  <label>firstname</label>
  <input class="form-control" formControlName="firstname" />
  <label>lastname</label>
  <input class="form-control" formControlName="lastname" />
  <label>emailaddress</label>
  <input class="form-control" formControlName="emailaddress" />
  <label>primaryphonenumber</label>
  <input class="form-control" formControlName="primaryphonenumber" />
  <label>secondaryphonenumber</label>
  <input class="form-control" formControlName="secondaryphonenumber" />
  <label>address</label>
  <input class="form-control" formControlName="address" />

  <button (click)="Save()" [disabled]="!form.valid">Save</button>
</form>
